.newProduct {
  flex: 4;
}
.addProductTitle{
  text-align: center;
}

.addProductForm {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.form-button{
  margin-left: 20px;
}

.cont {
  width: 100%;
}

.addProductItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form {
  display: flex;
  width: 60%;
  flex-direction: column;
  margin: 0 auto;
}

.addListForm {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
}

.addListItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 20px;
}

.select {
  padding: 10px 5px;
  cursor: pointer;
}

textarea{
  resize: none;
  height: 100px;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
}

.addProductItem > select {
  padding: 10px;
}

.addButton {
  height: 40px;
  font-size: 20px;
  margin-top: 10px;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  background-color: #ff7e00;
  color: white;
  font-weight: 600;
  cursor: pointer;
  align-self: center;
}
