.login {
  background-color: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.admin {
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.input-password {
  position: relative;
  width: 100%;
}

.loginForm {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.loginInput {
  margin-bottom: 20px;
  padding: 10px 5px;
  width: 100%;
}

.visibility {
  position: absolute;
  top: 7px;
  right: 0;
  cursor: pointer;
}

.loginButton {
  background-color: teal;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 10px 5px;
  cursor: pointer;
}
